# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Local properties
local.properties

# IDE
.idea/
*.iml
.DS_Store

# Android generated
*.apk
*.aab
*.aar
*.ap_
*.dex
*.class
out/
bin/
gen/
lint/
proguard/

# Keys / secrets
*.keystore
*.jks
key.properties

# Caches
.caches/
